@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RDLC Print</h1>
    <div>
        <a href="../home/print" target="_blank" class="btn btn-primary">Print PDF</a>
        <a href="../home/export" target="_blank" class="btn btn-secondary">Export Excel</a>
    </div>
</div>
